<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Détails du Serveur</title>
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="shared/header :: header"></div>

<div th:replace="shared/sidebar :: sidebar"></div>

<main id="main" class="main">

  <div class="pagetitle d-flex justify-content-between align-items-center">
    <div>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Accueil</li>
          <li class="breadcrumb-item active">Virtual Machines</li>
        </ol>
      </nav>
    </div>

    <a href="/virtual-machines/add" class="btn btn-primary" role="button">
      <i class="bi bi-plus-circle"></i>
    </a>
  </div>

  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Informations du Serveur</h5>
        <ul>
          <li>Adresse IP: <span th:text="${serveur.adresseip}"></span></li>
          <li>CPU: <span th:text="${serveur.cpu}"></span></li>
          <li>RAM: <span th:text="${serveur.ram}"></span></li>
          <li>Stockage: <span th:text="${serveur.stockage}"></span></li>
          <li>Hyperviseur: <span th:text="${serveur.hyperviseur}"></span></li>
          <li>N°Serie: <span th:text="${serveur.nserie}"></span></li>
        </ul>

        <h5 class="card-title mt-4">Machines Virtuelles Associées</h5>
        <div th:if="${#lists.isEmpty(virtualMachines)}">
          <p>Aucune machine virtuelle associée.</p>
        </div>

        <div th:unless="${#lists.isEmpty(virtualMachines)}">
          <div class="row g-3">
            <div th:each="vm : ${virtualMachines}" class="col-lg-6 col-md-12">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4 align-content-center">
                    <img src="/assets/img/vms.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <h5 class="card-title" th:text="${vm.designation}"></h5>
                      <!--<a href="#" class="btn btn-primary" role="button">
                        <i class="bi bi-graph-up"></i>
                      </a>-->
                    </div>
                    <p><i class="bi bi-house-door"></i> Vm IP : <span th:text="${vm.adresseip}"></span></p>
                    <p><i class="bi bi-cpu"></i> CPU : <span th:text="${vm.cpu}"></span></p>
                    <p><i class="bi bi-memory"></i> RAM : <span th:text="${vm.ram}"></span></p>
                    <p><i class="bi bi-hdd"></i> Stockage : <span th:text="${vm.stockage}"></span></p>
                    <p><i class="bi bi-window-desktop"></i> OS : <span th:text="${vm.os}"></span></p>
                    <div class="card-body d-flex justify-content-between align-items-center">
                      <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li><a class="dropdown-item" href="#">Surveiller</a></li>
                          <li><a class="dropdown-item" th:href="@{/virtual-machines/edit/{id}(id=${vm.id})}">Editer</a></li>
                          <li><a class="dropdown-item" th:href="@{/virtual-machines/delete/{id}(id=${vm.id})}">Supprimer</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="shared/footer :: footer"></div>
<!-- End Footer -->

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
