<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Serveurs - LANs</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <style>
        .card-server {
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }


        .server-info i {
            font-size: 1.2rem;
            color: #007bff;
        }

        .server-card-header {
            background-color: #f8f9fa;
        }

        .card-body {
            font-size: 0.9rem;
        }

        .server-name {
            font-size: 1.1rem;
            font-weight: bold;
        }
    </style>
</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="shared/header :: header"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="shared/sidebar :: sidebar"></div>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Serveurs</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Acceuil</li>
                <li class="breadcrumb-item active" th:text="${'Liste Des Serveurs '+resaux}"></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div th:if="${editMessage}" class="alert alert-warning alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1"></i>
            <span th:text="${editMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" th:each="serveur : ${serveurs}">
                <a th:href="@{/serveurs/details/{id}(id=${serveur.id})}">
                    <div class="card card-server shadow">
                        <div class="card-header server-card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title server-name text-center" th:text="${serveur.nom}"></h5>
                            <!-- Three-dots dropdown -->
                            <div class="dropdown">
                                <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Surveiller</a></li>
                                    <li><a class="dropdown-item" th:href="@{/server/edit/{id}(id=${serveur.id})}">Editer</a></li>
                                    <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" data-vm-id="${serveur.id}" data-vm-designation="${serveur.nom}">Supprimer</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="server-info mb-3">
                                <p><i class="bi bi-house-door"></i> Adresse IP: <span th:text="${serveur.adresseip}"></span></p>
                                <p><i class="bi bi-cpu"></i> CPU: <span th:text="${serveur.cpu}"></span></p>
                                <p><i class="bi bi-memory"></i> RAM: <span th:text="${serveur.ram}"></span></p>
                                <p><i class="bi bi-hdd"></i> Stockage: <span th:text="${serveur.stockage}"></span></p>
                                <p><i class="bi bi-database"></i> Hyperviseur: <span th:text="${serveur.hyperviseur}"></span></p>
                                <p><i class="bi bi-key"></i> N°Serie: <span th:text="${serveur.nserie}"></span></p>
                                <p>
                                    <i class="bi bi-lock"></i> Mot De Passe:
                                    <i class="bi bi-eye"
                                       th:attr="data-bs-target=|#passwordModal-${serveur.id}|"
                                       data-bs-toggle="modal"></i>
                                </p>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" th:attr="id=|passwordModal-${serveur.id}|" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="passwordModalLabel">Mot De Passe</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Mot De Passe</label>
                                            <input type="text" class="form-control" th:value="${serveur.password}" disabled>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Supprimer Serveur</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer le serveur <strong th:text="${serveur.nom}"></strong>?</p>
                                        <p class="alert alert-danger">Toutes les machines virtuelles liées au serveur seront supprimées</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form th:action="@{/server/delete/{id}(id=${serveur.id})}" method="get">
                                            <input type="hidden" id="deleteServeurId" name="id" />
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<div th:replace="shared/footer :: footer"></div>
<!-- End Footer -->

<!-- Vendor JS Files -->

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
