<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Carte Viasat - Application Materiel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/leaflet.css" />
    <script src="/assets/js/leaflet.js"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/shapefile@0.6.6/dist/shapefile.min.js"></script>-->
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<div th:replace="shared/header :: header"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="shared/sidebar :: sidebar"></div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Carte Viasat</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                <li class="breadcrumb-item active">Carte Viasat</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container mt-5">

                        </div>
                        <div id="map" style="width: 100%; height: 600px;"></div>
                        <script th:inline="javascript">

                            const unites = /*[[${unites}]]*/ [];
                        </script>
                        <script>

                            const map = L.map('map').setView([33, -3], 6);

                            /*const streetMap = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                maxZoom: 18,
                                attribution: '© OpenStreetMap contributors',
                            });

                            const satelliteMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                                attribution: 'Tiles © Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
                                maxZoom: 20,
                            });*/


                            const localTileLayer = L.tileLayer('http://193.0.0.247:15500/{z}/{x}/{y}.png', {
                                maxZoom: 17,
                                minZoom: 5,
                                attribution: 'Local Map Tiles',
                            });

                            /*
                            fetch('http://localhost:8080/FRONTIERE_LIGNE.shp', { mode: 'no-cors',})
                                .then(response => response.arrayBuffer())
                                .then(buffer => shapefile.open(buffer))
                                .then(source => source.read()
                                    .then(function log(result) {
                                        if (result.done) return;
                                        L.geoJSON(result.value, {
                                            onEachFeature: function (feature, layer) {
                                                layer.bindPopup(`<b>Feature Name:</b> ${feature.properties.NAME}`);
                                            }
                                        }).addTo(map);
                                        return source.read().then(log);
                                    })
                                )
                                .catch(err => console.error('Error loading shapefile:', err));
                                */



                            localTileLayer.addTo(map);
                            //streetMap.addTo(map);


                            L.control.layers({
                                /*'Street Map': streetMap,
                                'Satellite Map': satelliteMap,*/
                                'Offline Map': localTileLayer
                            }).addTo(map);

                            const uniteIcon = L.icon({
                                iconUrl: '/assets/img/unite.png',
                                iconSize: [38, 38],
                                iconAnchor: [22, 38],
                            });


                            const posteUpIcon = L.icon({
                                iconUrl: '/assets/img/posteup.png',
                                iconSize: [25, 25],
                                iconAnchor: [12, 25],
                            });

                            const posteDownIcon = L.icon({
                                iconUrl: '/assets/img/postedown.png',
                                iconSize: [25, 25],
                                iconAnchor: [12, 25],
                            });


                            const activePostes = {};


                            unites.forEach((unite) => {
                                const marker = L.marker([unite.latitude, unite.longitude], { icon: uniteIcon })
                                    .addTo(map)
                                    .bindPopup(`<b>${unite.nom}</b>`)
                                    .on('click', () => togglePostes(unite));
                            });

                            function togglePostes(unite) {
                                const uniteId = unite.id;

                                if (activePostes[uniteId]) {
                                    activePostes[uniteId].forEach((marker) => map.removeLayer(marker));
                                    delete activePostes[uniteId];
                                } else {
                                    fetch(`/map/postes/${uniteId}`)
                                        .then((response) => response.json())
                                        .then((postes) => {
                                            const markers = postes.map((poste) => {
                                                const icon = poste.active ? posteUpIcon : posteDownIcon;
                                                const marker = L.marker([poste.latitude, poste.longitude], { icon })
                                                    .addTo(map)
                                                    .bindPopup(
                                                        `<b>${poste.nom}</b><br>IP: ${poste.adresseip}<br>MAC: ${poste.mac}<br>
                                                            <a href="/map/poste/${poste.id}" target="_blank">Afficher les détails</a>`,
                                                    );
                                                return marker;
                                            });
                                            activePostes[uniteId] = markers;
                                        });
                                }
                            }

                        </script>


                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="shared/footer :: footer"></div>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/quill/quill.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>